@import "tailwindcss";

@theme {
  --color-ocean-900: #003e52;
  --color-ocean-950: #002f3f;
  --color-gray-50: #fff;
  --color-gray-300: #a7a8a9;
  --color-gray-500: #809ea8;
  --color-yellow-500: #ffc600;
}

@layer components {
  .nav-button {
    @apply border-yellow-500 text-yellow-500 hover:bg-yellow-500 border px-6 py-2 transition hover:text-ocean-900
  }
  .button-bg {
    @apply text-ocean-900 bg-yellow-500 px-6 py-2 transition hover:scale-110
  }
}